<div class="top-wrapper">
  <div class="center">
    <div class="welcome">
      <h1 class="welcometitle">Titles</h1>
      <P><%= link_to 'Signup', new_user_path, class: "welcomesignup" %>
      <%= link_to 'Login', login_path, class: 'welcomelogin' %></P>
    </div>
  </div>
</div>
<div class="galleries">
<div class="row no-gutters">
  <% @pictures.each do |picture| %>
    <div class="col-md-4">
	      <div class="top-image img-thumbnail">
			    <%= link_to (image_tag (picture.image_url), id: "indeximage"), picture %>
		    </div>

	  	  <div class="caption">
	  	    <p><%= picture.user.name%></p>
			  </div>
	
  	</div>
  <% end %>	
</div>