<div class="galleries">
	<div class="row no-gutters">
  	<% @pictures.each do |picture| %>
    	<div class="col-md-4 image-set">
	    	<div class="thumbnail">
			 	  <%= link_to (image_tag (picture.image_url), id: "indeximage"), picture %>
		    </div>
		    <div class="caption">
		      <span class="text-muted">posted at <%= l picture.created_at %></span>
		    </div>
			</div>
	  <% end %>		
	</div>
</div>