<p id="notice"><%= notice %></p>

<h1>Pictures</h1>
<% @pictures.each do |picture| %>
  <div class="row no-gutters">
	  <div class="col-md-3">
		  <div class ="card mt-1 mb-2 mx" >
			  <div class="card-body"></div>
				  <div class="card-image">
						<%= image_tag picture.image_url, id: "indeximage" %> 
				  </div>
				  <div class="caption">
					
				  </div>
			  </div>
		  </div>
	  </div>			
  </div>
				
 
  <br>

  <%= link_to 'Show', picture %> |
  
<% end %>
<%= link_to 'New Picture', new_picture_path %>
